@import "./reset.css";

:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
    --app-dark-bg:#1a1d28;
    --app-red:#ff3c57;
    --app-green:#33ab4e;
    --app-purple:#833cff;
    --app-orange:#ff833c;
    --app-orange-hover:#fe7a2d;
    --app-blue:#3c57ff;
    --app-blue-hover:#364ee6;
    --app-light-bg: #ffffff;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../img/datamap.jpg');
    background-size: cover;
    z-index: -1;
}

/* Menu Nav */
.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 300;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #fff;
    text-decoration: none;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}

.nav__close {
    display: var(--show, none);
}

/* Hero container and title*/
.hero__container {
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero__title {
    font-size: 2rem;
}

/* About me */
.aboutme{
    background-color: #e2e2ec;
}

.aboutme__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 5px;
    align-items: center;
}


.aboutme__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}

.aboutme__body--show{
    pointer-events: unset;
    opacity: 1;
}

.aboutme__img{
    width: 250px;
    height: 250px;
    border-radius: 80%;
    object-fit: cover;
    object-position: 50% 30%;
}

h1 {
   font-size: 40px;
   padding-bottom: 5px;
    
}
  
.aboutme__texts{
    max-width: 700px;
    font-size: px;
}

/* Footer */


footer {
    background: hsl(234, 80%, 21%);
    color: #DFF6FF;
    width: 100%;
  }
  
  footer .bar-footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 30PX;
    padding: 15px 0;
  }
  
  footer p {
    margin: 0 auto;
    padding: 10px;
  }
  
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    margin: 0 auto;
    width: 100%;
    }
  
  footer li {
    display: inline;
    font-size: 1.5em;
  }
  
  footer a {
    text-decoration: none;
    color: #DFF6FF;
  }
  